x-range {
  --thumb-size: 8px;
  --thumb-color: #ddd;
  --thumb-shadow: #000;
  --thumb-hover-color: #fff;
  --track-size: 4px;
  --track-color: #888;
  --track-shadow: #000;
  --elapsed-color: #ddd;
  --remaining-color: transparent;
  --radius: calc(var(--track-size)/2);
  display: inline-block;
  position: relative;
  width: 192px;
  height: 16px;
}
x-range .-track,
x-range .-elapsed,
x-range .-remaining {
  position: absolute;
  top: calc(50% - var(--track-size)/2);
  height: var(--track-size);
  border-radius: var(--radius);
}
x-range .-track {
  width: 100%;
  left: 0;
  background-color: var(--track-color);
  box-shadow: 0 0 1px var(--thumb-shadow);
}
x-range .-elapsed {
  left: 0;
  background-color: var(--elapsed-color);
}
x-range .-remaining {
  right: 0;
  background-color: var(--remaining-color);
}
x-range .-inner {
  position: absolute;
  left: var(--thumb-size);
  right: var(--thumb-size);
  top: 0;
  bottom: 0;
}
x-range .-thumb {
  all: unset;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: calc(2*var(--thumb-size));
  height: calc(2*var(--thumb-size));
  background-color: var(--thumb-color);
  box-shadow: 0 0 2px var(--thumb-shadow);
}
x-range[disabled] {
  opacity: 0.5;
}
x-range:not([disabled]) .-thumb:hover {
  background-color: var(--thumb-hover-color);
}
